
%h1 Saying &amp Doing
%h2 A Feed of @cykod &amp; @artimated's work and &amp; blogs

%ul.work-list
  %li
    %a(href="#")
      = image_tag("samples/political_screaming_matching.png")
  %li
    %a(href="#")
      = image_tag("samples/finger_forest.png")
  %li
    %a(href="#")
      %h2 How to Speak Internet
      .attribution
        %em
          by
        Martha Rettig
        %em
          on Sep 23
  %li
    %a(href="#")
      = image_tag("samples/firefly.png")
  %li
    %a(href="#")
      %h2 HTML5 Gaming: The Sound of Inevita-bility
      .attribution
        %em
          by
        Pascal Rettig
        %em
          on Sep 23
  
  
