$brown: #603813;
$light-background: #f2f2f2;
$light-text: #b3b3b3;

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}


html {
  max-width: 1024px;
  margin:0 auto;
  padding:0px;
}

body { 
  margin:0px;
  padding:0px;
}

h1, h2 { color: $brown; }


nav#top-nav {

  float:right;

  ul { padding:0px; margin:0px; }

  li {
    float:left;
    margin:0px;
    padding:0 5px;
    list-type-type:none;

    a {
      display:block;
      float:left;
      color:white;
      background-color: $brown;;
      text-transform:lowercase;
      padding:5px 15px;
      border-bottom-left-radius:5px;
      border-bottom-right-radius:5px;
      text-decoration:none;
    }
  }
}

header#site-header {
  background:url(dots.png) repeat-x bottom left;
  @extend .clearfix;
  padding-bottom:10px;

  h1 {
    text-align:center;
    width:104px;
    margin:0 auto;

    #logo { 
      display:inline-block;
      margin:0px;
      padding:0px;
      text-align:center;
      width:94px;
      height:81px;
      text-indent:-9999px;
      background:image-url('logo.png') no-repeat center top;
    }
  }
}


#content {
  h1 { 
    text-transform:uppercase;
    text-align:center;
    margin-bottom:0px;
    font-size:3em;
    font-weight:bold;
  }

  h1 + h2 { 
    margin-top:0px;
    padding-top:0px;
    text-align:center;
  }

  ul.work-list { 
    padding:0px; margin:0px; 
    list-style-type: none;

    li {
      width:325px;
      margin: 0 8px 16px 0;
      line-height:1em;
      padding:0px;
      float:left;
      background-color:$light-background;

      a { 
        display:block;
        text-decoration:none;

        img { display:block; }

        &:hover { opacity: 0.8; }
      }

      h2 {
        padding: 20px 20px 10px 20px;
        text-transform:uppercase;
        font-weight:normal;
        font-size:3em;
        line-height:1em;
        margin:0px;
      }

      .attribution {
        padding: 0px 20px 20px 20px;
        color: $light-text;
        text-transform:uppercase;
        font-weight:bold;

        em {
          text-transform:none;
          font-weight:normal;
        }
      }
    }
  }


}
